name: iOS CI

on:
  push:
    branches: 
      - dev
      - main
  pull_request:
    branches:
      - dev
      - main

  # Allow run manually on using Git Actions tab
  workflow_dispatch:

env:
  PROJECT_FILE: "UberClone.xcodeproj"
  SCHEME_TO_TEST: "Dev"
  DESTINATION: "platform=iOS Simulator,name=iPhone 16,OS=18.6"
  CONFIGURATION: "Debug"

jobs:
  build_and_test:
    name: Build & Test on MacOS
    runs-on: macos-15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install xcbeautify
        run: brew install xcbeautify

      - name: Cache Swift Package Manager dependencies
        uses: actions/cache@v4
        with:
          path: ~/Library/Developer/Xcode/DerivedData
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Resolve Swift Packages
        run: |
          xcodebuild -resolvePackageDependencies \
            -project "${{ env.PROJECT_FILE }}" \
            -scheme "${{ env.SCHEME_TO_TEST }}"

      - name: Build and Test
        env:
          DESTINATION: "${{ env.DESTINATION }}"
        run: |
          set -o pipefail && xcodebuild \
            -project "${{ env.PROJECT_FILE }}" \
            -scheme "${{ env.SCHEME_TO_TEST }}" \
            -destination "$DESTINATION" \
            -configuration "${{ env.CONFIGURATION }}" \
            -enableCodeCoverage YES \
            -resultBundlePath TestResults \
            clean test | xcbeautify

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: TestResults-${{ runner.os }}
          path: TestResults.xcresult
